<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
  <title>Panckake</title>
  <link rel="stylesheet" th:href="@{/styles.css}" />
  <meta charset="utf-8">
</head>

<body>
<h1>Order Panckake</h1>
<img th:src="@{/static/images/panckakes.jpg}" />

<form th:action="@{/orders}" method="post" th:object="${panckakeOrder}">
  <a th:href="@{/design}" id="another">Создай другой блинчик</a>
  <ul>
    <li th:each="taco : ${panckakeOrder.panckakes}">
      <span th:text="${panckake.name}">taco name</span>

    </li>
  </ul>

  <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Пожалуйста исправьте форму
            </span>
  </div>
  <h3>Куда доставлять</h3>
  <label for="deliveryName">Name: </label>
  <input type="text" th:field="*{deliveryName}"/>
  <label for="deliveryStreet">Street: </label>
  <input type="text" th:field="*{deliveryStreet}"/>
  <label for="deliveryCity">City: </label>
  <input type="text" th:field="*{deliveryCity}"/>
  <label for="ccNumber">CC Nmber: </label>
  <input type="text" th:field="*{ccNumber}"/>
  <label for="ccExpiration">Expiration: </label>
  <input type="text" th:field="*{ccExpiration}"/>
  <label for="ccCVV">CVV: </label>
  <input type="text" th:field="*{ccCVV}"/>

  <input type="submit">
</form>
<h3>Your Panckakes in this order</h3>
</body>

</html>